<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Clínica Jesús Del Norte</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />

  <link rel="stylesheet" href="../css/Dashboard.css" />
  <link rel="stylesheet" href="../css/Sidebar.css" />
</head>
<body>

  <!-- Botón hamburguesa para pantallas pequeñas -->
  <button id="toggle-sidebar">
  <i class="fas fa-bars"></i>
</button>
  <!-- Sidebar -->
  <nav class="sidebar-menu border-end" id="sidebar">
    <div class="p-3 d-flex flex-column justify-content-between" style="height: 100vh">
      <div>
        <div class="sidebar-logo mb-2 text-center">
          <img src="/pages/img/jesus.png" alt="Logo Clínica" style="width: 100px; height: 100px; object-fit: contain;" />
        </div>
        <h4 class="text-center">Clínica Jesús Del Norte</h4>
        <ul class="nav flex-column">
          <li class="nav-item"><a class="nav-link text-dark active" href="../pages/Dashboard.html"><i class="fas fa-chart-line"></i> Dashboard</a></li>
          <li class="nav-item"><a class="nav-link text-dark" href="../pages/Doctor.html"><i class="fas fa-user-md"></i> Doctor</a></li>
          <li class="nav-item"><a class="nav-link text-dark" href="../pages/Paciente.html"><i class="fas fa-user-injured"></i> Paciente</a></li>
          <li class="nav-item"><a class="nav-link text-dark" href="../pages/Medicamentos.html"><i class="fas fa-pills"></i> Medicamentos</a></li>
          <li class="nav-item"><a class="nav-link text-dark" href="../pages/Especialidad.html"><i class="fas fa-stethoscope"></i> Especialidad</a></li>
          <li class="nav-item"><a class="nav-link text-dark" href="../pages/Servicios.html"><i class="fas fa-concierge-bell"></i> Servicio</a></li>
          <li class="nav-item mb-2"><a class="nav-link text-dark" href="../pages/Atenciones.html"><i class="fas fa-pills me-2"></i> Atenciones</a></li>
          </a>
          </li>
        </ul>
      </div>
      <div>
        <hr/>
        <div id="sidebar-user" class="mb-2 text-center fw-bold"></div>
        <a href="/pages/Login.html" id="logout-link" class="nav-link text-danger d-flex align-items-center justify-content-center">
          <i class="fas fa-sign-out-alt me-2"></i> Cerrar sesión
        </a>
      </div>
    </div>
  </nav>

  <!-- Script que controla la visibilidad del sidebar -->
  <script type="module" src="./../scripts/Sidebar.js"></script>
</body>
</html>